* {box-sizing: border-box;}
/*#59cfc6;*#1a9cd5;*/
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*Login Page Styles*/
.card-box{
  width: 30%;
    float: left;
    padding: 20px;
    /*border: 2px solid red;*/
    text-align:center;
    font-size:160%;
    background-color:;
}

.section-row{
    /*border: 3px solid #fff;*/
    
    /*padding-right:%;*/
    /*max-width: 800px;*/
    /*margin: auto;*/
    margin-left: 440px;
    
}

.login
{
  font-size:50px;
    color: #009973;
    padding-top:80px;
}

/*Login Page style ends*/
.header{
  overflow: hidden;
  background:#152F4F;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 21px; 
  line-height: 25px;
  border-radius: 4px;

}

.header a.logo {
  font-size: 30px;
  font-weight: bold;
}

.header a:hover {
   font-size: 23px;
}

.header a.active {
  background-color:white;
   color: black;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.footer {
  overflow: hidden;
  background-color: :#152F4F;
  padding: 20px 10px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.footer a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 21px; 
  line-height: 25px;
  border-radius: 4px;

}

.footer a.logo {
  font-size: 30px;
  font-weight: bold;
}

.footer-right {
  float: left;
}

@media screen and (max-width: 500px) {
  .footer a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .footer-right {
    float: none;
  }
}
.footer{
  overflow: hidden;
  background:#152F4F;
  padding: 20px 10px;
  }
.footer table, th, td {
  border-collapse: collapse;
  border-width: 20px;
}

  /*
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } */
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}

