{% extends "Layout.html" %}

{% block body%}


<div  style="background-image:url({{url_for('static', filename='images/loginbg.jpg')}})">
    <center>
        <u style="color: #00cc88">
            <h1 class="login">Choose your option</h1>
        </u></center>
<div   class="section-row">
    <center>
        
    
	
    <div class="card-box" id="Doctor">
        <div >
            <div  class="icon">
                <image  src="{{url_for('static', filename='images/doctor.png')}}">
            </div>
            <a href={{url_for('DoctorLogin')}} >Are you a Doctor?</a>
        </div>

    </div>
    <div class="card-box" id="patient">
        <div >
            <div  class="icon">
                <image src="{{url_for('static', filename='images/patient.png')}}">
            </div>
        	<a href={{url_for('PatientLogin')}}>Are you a Patient?</a>
        </div>
    </div>
    </center>
</div>
</div>

{% endblock %}
